
body{
    margin:0;
    padding:0;
    height:100vh;
    width:100%;
    }
  .title h1{
    text-align:center;
    color:white;
    padding:5rem;
    text-shadow: 0 0 20px #ff0000, 0 0 40px #f74040; 
    font-size: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    animation: flicker 3s infinite;
  }

  p{
color: #fbfff5; 
text-shadow: 0 0 20px #00ffff, 0 0 40px rgba(0, 255, 255, 0.3);
letter-spacing: 2px;
animation: flicker 3s infinite alternate;

  }
.map {
  position: relative;
  width: 100%;
  max-width:900px;
  margin: auto;
 
}

.map img {
  width: 100%; 
  opacity: 0.8; 
}

.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 10px red;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.dot:hover::after {
  content: attr(title);
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 10px;
  top: -40px; 
  left: -20px; 
  white-space: nowrap;
  box-shadow: 0 0 10px #ff4500;
}

.disaster{
    display:flex;
    width:100%;
    gap:2rem;
    justify-content:space-between;
}
.disaster img{
width:50%;
height:auto;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}


@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
  }

